<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.thp.structureaddress.mapper.AddressUserNumberMapper">
	<select id="getUserNumberByAddress" parameterType="java.util.List" resultType="string">
		select 用户编号 as userNumber from 
		ZCFKH_YDKH 
		<where>
			序号 in
			<foreach collection="addresses" item="item" open="("  close=")" separator=",">
				#{item,jdbcType=VARCHAR}
			</foreach>;
		</where> 
	</select>




</mapper>